In [3]:

import pandas as pd
df = pd.read_csv(r"C:/Users/shrey/Downloads/iris/iris.data.csv")

In [4]:
df

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           NaN          0.2     Iris-setosa
2             4.7          3.2           NaN          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          NaN           NaN          NaN     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [5]:
df["sepal length"]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length, Length: 150, dtype: float64

In [6]:
grouped = df['sepal length'].groupby(df['class'])
grouped

In [7]:
grouped.mean()

class
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: sepal length, dtype: float64

In [9]:
grouped.count()

class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: sepal length, dtype: int64

In [10]:
grouped.median()

class
Iris-setosa        5.0
Iris-versicolor    5.9
Iris-virginica     6.5
Name: sepal length, dtype: float64

In [11]:
grouped.std()

class
Iris-setosa        0.352490
Iris-versicolor    0.516171
Iris-virginica     0.635880
Name: sepal length, dtype: float64

In [13]:
grouped.min()

class
Iris-setosa        4.3
Iris-versicolor    4.9
Iris-virginica     4.9
Name: sepal length, dtype: float64

In [14]:
grouped.max()

class
Iris-setosa        5.8
Iris-versicolor    7.0
Iris-virginica     7.9
Name: sepal length, dtype: float64

In [15]:
grouped.mode()

AttributeError: 'SeriesGroupBy' object has no attribute 'mode'

In [16]:
grouped.avg()

AttributeError: 'SeriesGroupBy' object has no attribute 'avg'